{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 28.484148130768215,
    "longitude": 77.05084838371641,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Asia/Calcutta",
    "external_url": null,
    "internal_url": null,
    "currency": "INR",
    "country": "IN",
    "language": "en-GB",
    "radius": 100
  }
}